body {
background-color: #ecf0f1;
}
.title {
border-top: 5px solid #2980b9;
padding: 15px;
background-color: #3498db;
color: #ffffff;
}
.font{
    font-size: 30px;
}
.container {
background-color: #ffffff;
width: 80%;
margin: auto;
}
.menu-list {
color: #ffffff;
text-align: center;
background-color: #2622C8;
width: 10%;
display: inline-block;
padding: 15px;
border-radius: 15px;
box-shadow: 10px 5px 5px grey;
cursor: pointer;
}
.padding {
font-size: 30px;
color: #7A7DF1;
text-align: center;
background-color: #FFFFFF;
width: 10%;
display: inline-block;
padding: 15px;


cursor: pointer;
}
.birth {
font-size: 30px;
color: #00F981;
text-align: center;
background-color: #FFFFFF;
width: 10%;
display: inline-block;
padding: 15px;


cursor: pointer;
}